<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShangTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF749CB61D59AD7D00D22B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF749CCF1D59AD7E00D22B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF749CDA1D59AD7E00D22B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
